In [14]:
import pandas as pd
import yfinance as yf
import sqlite3
import enum
import datetime

In [15]:
class Duration(enum.Enum):
    ONE_DAY = "1d"
    THREE_DAYS = "3d"
    ONE_WEEK = "1w"
    ONE_MONTH = "1m"
    THREE_MONTHS = "3m"
    SIX_MONTHS = "6m"
    ONE_YEAR = "1y"
    THREE_YEARS = "3y"
    FIVE_YEARS = "5y"

In [19]:
def get_dates(duration):
    today = datetime.date.today()
    if duration == "1d":
        end_date = today - datetime.timedelta(days=1)
    elif duration == "3d":
        end_date = today - datetime.timedelta(days=3)
    elif duration == "1w":
        end_date = today - datetime.timedelta(weeks=1)
    elif duration == "1m":
        end_date = today - datetime.timedelta(days=30)
    elif duration == "3m":
        end_date = today - datetime.timedelta(days=90)
    elif duration == "6m":
        end_date = today - datetime.timedelta(days=182)
    elif duration == "1y":
        end_date = today - datetime.timedelta(days=365)
    elif duration == "3y":
        end_date = today - datetime.timedelta(days=1095)
    elif duration == "5y":
        end_date = today - datetime.timedelta(days=1825)
    else:
        raise ValueError("Invalid duration")
    return end_date, today

In [20]:
def get_stock_data(ticker, duration):
    start_date, end_date = get_dates(duration)
    data = yf.download(ticker, start=start_date, end=end_date)
    data.reset_index(inplace=True)
    data['ticker'] = ticker
    return data

In [26]:
get_stock_data('ITC.NS', '1w')

[*********************100%%**********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume,ticker
0,2024-07-09,447.600006,455.000000,444.000000,452.600006,452.600006,26470260,ITC.NS
1,2024-07-10,453.700012,455.350006,446.500000,451.450012,451.450012,11618210,ITC.NS
2,2024-07-11,450.000000,459.500000,448.700012,458.649994,458.649994,18831345,ITC.NS
3,2024-07-12,458.649994,463.250000,455.850006,459.049988,459.049988,18962800,ITC.NS